/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

x-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

#main {
  padding-top: 64px;
}

.icon-block {
  padding: 0 15px;
}
