<footer class="page-footer #795548 brown">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Our solution</h5>
        <p class="grey-text text-lighten-4">We match the privileged and the under-privileged in a sustainable and profitable way that fully achieves the coveted and elusive triple bottom line (people, profit, planet). </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Jump in!</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect!</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Linkedin</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Skype</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with <a class="#3e2723 brown darken-4" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
