<footer class="page-footer #795548 brown">
  <div class="container">
    
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Our solution</h5>
        <p class="grey-text text-lighten-4">We match the privileged and the under-privileged in a sustainable and profitable way that fully achieves the coveted and elusive triple bottom line people, profit, planet.</p>
       
      </div>
      </div>
      
      <div class="row">
      <div class="col l3 s3">
        <h5 class="white-text">Learn more</h5>
        <ul>
          <li><a class="white-text" href="#about">About</a></li>
          <li><a class="white-text" href="#story">Our Story</a></li>
          <li><a class="white-text" href="#faq">FAQ's</a></li>
          <li><a class="white-text" href="#terms">Terms</a></li>
        </ul>
      </div>
      
      <div class="col l3 s3">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Contact us</a></li>
          <li><a class="white-text" href="#!"></a></li>
        </ul>
      </div>

     <div class="col l3 s3">
   
    <img class="responsive-img" src="img/whitesave_awards-01.png">
    </div>

      <div class="col l3 s3">
    
   
    
     <img class="responsive-img" src="img/whitesave_awards-02.png">
     </div>

    </div>
  </div>
  
  
  <div class="footer-copyright">
    <div class="container">
      Made with <a class="#3e2723" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
