<nav class="#3e2723 brown darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="http://www.whitesave.me" class="brand-logo">
      <span class="hide-on-small-and-down"><img class="responsive-img" src="img/WhiteSaveMe_Logo_VF.png">&nbsp;|&nbsp;</span>
      { opts.pageTitle }</a>
    <ul class="right hide-on-med-and-down">
      <li each="{ name, page in opts.siteMap }"><a href="#{ name }">{ name }</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li each="{ name, page in opts.siteMap }"><a href="#{ name }">{ name }</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
