<nav class="#3e2723 brown darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/#home" class="brand-logo">
      <span><img class="responsive-img" src="img/WhiteSaveMe_Logo_VF.png"></span>
      </a>
    <ul class="right hide-on-med-and-down">
      <li each="{ slug, info in opts.siteMap }"><a href="#{ slug }">{ info.name }</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li each="{ slug, info in opts.siteMap }"><a href="#{ slug }">{ info.name }</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
