<x-header></x-header>
<x-main></x-main>
<div class="container row">
  <div class="share-button right"></div>
</div>
<br><br>
<script async="async" src="lib/vendor/share.min.js"></script>
<script>
var share = new Share(".share-button", {
  title: "WhiteSave.me",
  description: "WhiteSave.me - delivering privilege with the tap of a finger.",
  image: "phttp://whitesave.me/img/wsm.jpg"
});
</script>
<iframe class="right" width="420" height="315" src="https://www.youtube.com/embed/jAt9XyTOLGc" frameborder="0" allowfullscreen></iframe>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100864201); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100864201ns.gif" /></p></noscript>
<x-footer></x-footer>
